.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 10px;
  z-index: 200;
}

.item {
  list-style: none;
  display: flex;
  gap: 10px;
  padding: 0;
}

.item img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 10px;
}
